<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Main Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%include ./header.ejs%>

        <div class="panel panel-default">
                <div class="panel-heading"><h2>About</h2></div>
                <div class="panel-body">
                    <h2>Who Am I</h2>
                    <p>My name is Daniel Yang (BBoy Day) and at the moment, I am currently a Senior at Purdue University
                        pursuing a double major in Economics and Computer Science.  I have been breaking for 
                        around 6 years now and compete in the Midwest and back home in Albuquerque, New Mexico.
                        This website is part of a school project, but I fully intend to continue development past
                        the class as I am personally invested in this.
                    </p>
                    <h2>Future Features</h2>
                    <ul>
                        <li>Account Features</li>
                        <li>Clear Updating Methods</li>
                        <li>Calender for Judges</li>
                        <li>Corner Cases for Invalid Entry</li>
                        <li>Paypal</li>
                        
                    </ul>
                </div>
            </div>
    </body>
    
    
    
        
    
</html>
