<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>New Event</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
            <%include ./header.ejs%><br>
            <form name= "eventInput" method="POST" action="/newEvent">
                Event Name <input type="text" name= "name"/><br><br>
                Judges (separate with commas) <input type="text" name= "judges"/><br><br>
                Where <input type="text" name="location"/><br><br>
                Format <input type="text" name="style"/><br><br>
                Style <input type="text" name="format"/><br><br>
                MC(s) <input type="text" name="MC"/><br><br>
                DJ(s) <input type="text" name="DJ"/><br><br>
                Prize <input type="text" name="prize"/><br><br>
                Date (use format MM/DD/YY) <input type="text" name="date"/><br><br>
                <input type="submit" value= "Submit New Event Info!"/><br><br>
        </form>
    </body>
</html>
