<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title><%= eventName %></title>
        <link rel = 'stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <% if ( status == "Success") { %>
            <h1><%= status %></h1>
                <p>Event has been added!!
                </p>
        <% }  else { %>
 
            <h1><%= status %></h1>
                <p>Event has not been added.</p>
          <% } %>
    </body>
</html>
