<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>New Judge</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%include ./header.ejs%><br>
        <form name= "judgeInput" method="POST" action="/newJudge">
                Dancing Name: <input type="text" name= "name"/><br><br>
                Number of years you have danced?: <input type="text" name= "experience"/><br><br>
                What country do you represent?: <input type="text" name="country"/><br><br>
                What Style(s) do you dance?: <input type="text" name="style"/><br><br>
                Judging Paradigms/Preferences <input type="text" name="paradigms"/><br><br>
                <input type="submit" value= "Submit Judge Info!"/><br><br>
        </form>
        
    </body>
</html>
