<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>New User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <style>
        h1{
            text-align: center;
        }
    </style>
    <body>
        <%include ./header.ejs%><br>
        <div class="container">
            <div class="jumbotron">
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                        <h1>Create New User</h1>
                                    </div>    
                            </div>
                            <form name= "userInput" method="POST" action="/newUser">
                                <div class="form-group">
                                    <label for="name">Dancing Name:</label>
                                        
                                 <input type="text" class="form-control"  name= "name"/><br><br>
                            </div>
                            <div class="form-group">
                                    <label for="crew">What Crew Are You In (Put N/A If Not In A Crew):</label>
                                    
                                     <input type="text" class="form-control" name= "crew"/><br><br>                                    
                            </div>
                            <div class="form-group">
                                    <label for="country">What Country Do You Represent?:</label>
                                    
                                     <input type="text" class="form-control" name="country"/><br><br>
                                    
                            </div>
                            <div class="form-group">
                                    <label for="style">What Style(s) Do You Dance?:</label>
                                    
                                     <input type="text" class="form-control" name="style"/><br><br>                                    
                            </div>
                            <p> Rank from 1 being the most dominant part of how you dance to 3 being less of a focus in your dancing.</p>                            
                            <div class="form-group">                                    
                                    Style: <input type="text" name="styleRanking"/><br><br>
                                    
                            </div>
                            <div class="form-group">
                                    Power: <input type="text" name="powerRanking"/><br><br>
                                    
                            </div>
                            <div class="form-group">
                                    Abstract Moves: <input type="text" name="abstractRanking"/><br><br>
                                    
                            </div>
                                
                                <input type="submit" value= "Submit User Info!"/><br><br>
                        </form>
                    </div>
            </div>
        </div>
       
        
    </body>
</html>
