<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>New Judge</title>
        <link rel = 'stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <form name= "userInput" method="POST" action="/newUser">
                Dancing Name: <input type="text" name= "name"/><br><br>
                What Crew Are You In (Put N/A If Not In A Crew): <input type="text" name= "crew"/><br><br>
                What Country Do You Represent?: <input type="text" name="country"/><br><br>
                What Style(s) Do You Dance?: <input type="text" name="style"/><br><br>
                <p> Rank from 1 being the most dominant part of how you dance to 3 being less of a focus in your dancing</p>
                Style: <input type="text" name="styleRanking"/><br><br>
                Power: <input type="text" name="powerRanking"/><br><br>
                Abstract Moves: <input type="text" name="abstractRanking"/><br><br>
                
                <input type="submit" value= "Submit User Info!"/><br><br>
        </form>
        
    </body>
</html>
