<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>All <%= whichList%>s </title>
        <link rel = 'stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <%include ./header.ejs%>
    </body>
    <p>
         
        <ul>
            <% for( var i = 0; i < arr.length; i++) { %>
                <% var path; %>
                <% if ( whichList == "Events") {%>
                    <% var path = "eventPage/" + arr[i]; %>
                <% } else { %>
                    <% var path = "judgePage/" + arr[i]; %>
                <% } %>
                <li> <a href=<%=path %>> <%= arr[i]%></a> </li>
            <% }%>
        </ul>
    </p>
</html>
