<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Main Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%include ./header.ejs%>
    </body>
    <p>
        This is gonna be the main page that will be fan-frickin-tastic.
    </p>
</html>
