<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Main Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <%include ./header.ejs%>

        <div class="panel panel-default">
                <div class="panel-heading"><h2>What Is This Website?</h2></div>
                <div class="panel-body">
                    <h2>The Idea</h2>
                        <p>I think we can all agree that there is no uniform way to judge breaking. 
                            Whether you believe that there is an objective way to judge, or if you
                            believe that it is subjective and there will always be biases, I think
                            that there is a need for clear criteria.  My solution is based off my
                            experiences in High School competing in Speech and Debate.  A debate
                            inherently has mutliple sides whose final decision can be subjective
                            based off the judges personal values.  We solved this by having judges
                            list their criteria, or pardigms.  Before we enter any competition of 
                            any sorts, it is important we know how we are being evaluated and by
                            knowing so, it can allow us to make clear choices. It is not a perfect 
                            solution, but I think it is a step in the right direction.
                        </p>
                    <h2>For Judges</h2>
                        <p>I see a lot of judges get called out for some pretty absurd reasons.  I think that
                            by having judges have competitors know their paradigms ahead of time, there will
                            be a less confusion about how judges vote for the dancers and people watching. 
                            Also, on each page, there will be statistics on how judges do vote in reality 
                            next to their paradigms.  This is so that judges can be more aware of how they
                            are actually voting and as another way for competitors to understand judges' 
                            paradigms.  Furthermore, what I hope this page can do is to make it easier for
                            judges to make a living.  As someone who has thrown jams and workshops, it is
                            very hard to contact judges for events.  This isn't because judge's don't want
                            the work, it is often due to a lack of clear means of communication.  I usually
                            have to hope I have someone who knows the persons email, facebook, instagram or
                            phone number.  If I don't have these connections, it is near impossible for me
                            to ask a dancer to come for an event.  By having this website, judges will have
                            a location where they can list their business information as they want.  Also 
                            by letting others see the next event they attend, it may cut down on costs for 
                            people in the same region who can't afford the plane ticket and hotel, but still
                            would like to offer an opportunity for work.  This way, the judge can get paid more
                             while also being able to help contribute more to the community for a single trip.  
                        </p>
                    <h2>For Dancers/Battlers</h2>
                        <p>I believe when you sign up for a battle, you are agreeing to all the criteria of the judges.
                            If you know who the judge are ahead of time and know that there is a clear bias against
                            either you or your style, you are given three choices.  The first and obvious one is to show
                            up to the battle, not compete but just support the scene and in a way show the event Host
                            that you don't agree with their choice of judges.  The second and third options involve battling.
                            The second option involves competing by not changing how you dance despite knowing how
                            the judge/judges are biased.  By doing so, you stay original, and maintain 100% of the
                            artistry of the dance but at the same time, it shows you value this over the opportunity to win.
                            If the judges don't vote for you, I don't believe you really have any right to be upset
                            as you knew what the judges liked ahead of time.  The third option is to compete and tailor
                            how you dance to the judge's preferences.  By doing so, you give up part of the artistry 
                            of breaking in return for a more competitive experience.  I think all of these options are
                            respectable but for the latter two, I think it needs to be clear what the judges are looking
                            for.  This website will provide a single location for dancers to lookup and learn about what
                            the judges are looking for ahead of time.  After reading and seeing the statistics, dancers
                            can maked an informed decision and choose one of the three options.  This wil also hopefully
                            help dancers better understand why they won/loss a round with less guessing.
                        </p>
                    <h2>For Event Hosts</h2> 
                        <p>The Hip-Hop community is very based on who you know to determine who you can get to come to
                            an event.  It is very hard to get a high profile dancer to come judge or teach a workshop
                            if you do not know them or have a mean of contacting them ahead of time.  First, this website
                            will make it easier for event hosts to contact the dancers with opportunities by having dancers
                            who are looking for work have a clear point for contact.  Second, this will reduce the cost of
                            smaller event hosts while giving the dancers more pay.  By having judges list the next event they
                            plan to attend, organizations in the nearby area who may have been able to afford the costs of
                            travel, lodging along with pay for the event, can just worry about paying for the event.  I.E Say
                            we have a big event in California, and they invite the Judge to come.  If a smaller organization
                            sees this, they can use the website to lookup the judges contact info and schedule a workshop that
                            same week with the judge.  This way, the smaller organization gets to host a workshop that they
                            might not have been able to prior.  The judge will have also be earning pay from not just the battle,
                            but also for the workshop.</p>               
                </div>
            </div>
    </body>
    
    
    
        
    
</html>
