<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Who Do You Vote For</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                    <h1>VOTE</h1>
                    <% var judgePath = "/judgePage/" + name + "/vote"%>
                    <form name= "Judge Decision" method="POST" action=<%= judgePath%>>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <h2>Competitor </h2>
                                </tr>
                            </thead>
                            <% for(var i = 1; i < competitors.length; i++) {%>
                                <tr>
                                        <td>
                                <%= competitors[i]%> : <input type= "radio" name = "winner"  value = <%= competitors[i]%> ><br>
                            </td>
                        </tr>                     
                                <% }%> 
                                <tr>
                                        <td>
                                Tie: <input type="radio" name = "winner" value = "TIE"><br>
                            </td>
                        </tr>  
                               
                        </table>
                        <input type="submit" value= "Vote!"/><br><br>
                        
                    </form>

            </div>
        </div>
        
    </body>
</html>